<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CpuInfoMapper" >
  <resultMap id="BaseResultMap" type="pojo.CpuInfo" >
    <result column="Ip_id" property="ipId" jdbcType="CHAR" />
    <result column="time" property="time" jdbcType="DOUBLE" />
    <result column="Cpu_User" property="cpuUser" jdbcType="REAL" />
    <result column="Cpu_System" property="cpuSystem" jdbcType="REAL" />
    <result column="Cpu_Idle" property="cpuIdle" jdbcType="REAL" />
    <result column="Cpu_Percent" property="cpuPercent" jdbcType="REAL" />
    <result column="Cpu_Interrupt" property="cpuInterrupt" jdbcType="REAL" />
    <result column="Cpu_Dpc" property="cpuDpc" jdbcType="REAL" />
  </resultMap>
  <select id="selectNewInfoByHour" resultMap="BaseResultMap" parameterType="String">
    SELECT * FROM cpu_info WHERE Ip_id=#{ip} ORDER BY time DESC limit 0,120
  </select>
  <select id="selectLastedCpuInfo" resultMap="BaseResultMap" parameterType="String">
    SELECT *,MAX(time) FROM cpu_info WHERE Ip_id=#{ip}
  </select>

</mapper>