<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.DiskInfoMapper" >
  <resultMap id="BaseResultMap" type="pojo.DiskInfo" >
    <result column="Ip_id" property="ipId" jdbcType="CHAR" />
    <result column="time" property="time" jdbcType="DOUBLE" />
    <result column="Disk_Total" property="diskTotal" jdbcType="DOUBLE" />
    <result column="Disk_Used" property="diskUsed" jdbcType="DOUBLE" />
    <result column="Disk_Free" property="diskFree" jdbcType="DOUBLE" />
    <result column="Disk_Percent" property="diskPercent" jdbcType="REAL" />
    <result column="Disk_IoReadCount" property="diskIoreadcount" jdbcType="DOUBLE" />
    <result column="Disk_IoWriteCount" property="diskIowritecount" jdbcType="DOUBLE" />
    <result column="Disk_IoReadBytes" property="diskIoreadbytes" jdbcType="DOUBLE" />
    <result column="Disk_IoWriteBytes" property="diskIowritebytes" jdbcType="DOUBLE" />
    <result column="Disk_IoReadTime" property="diskIoreadtime" jdbcType="DOUBLE" />
    <result column="Disk_IoWriteTime" property="diskIowritetime" jdbcType="DOUBLE" />
  </resultMap>
  <select id="selectNewInfoByHour" resultMap="BaseResultMap" parameterType="String">
    SELECT * FROM disk_info WHERE Ip_id=#{ip} ORDER BY time DESC limit 0,120
  </select>
</mapper>