<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.MemoryInfoMapper">
    <resultMap id="BaseResultMap" type="pojo.MemoryInfo">
        <result column="Ip_id" property="ipId" jdbcType="CHAR"/>
        <result column="time" property="time" jdbcType="DOUBLE"/>
        <result column="Memory_Total" property="memoryTotal" jdbcType="DOUBLE"/>
        <result column="Memory_Available" property="memoryAvailable" jdbcType="DOUBLE"/>
        <result column="Memory_Percent" property="memoryPercent" jdbcType="DOUBLE"/>
        <result column="Memory_Used" property="memoryUsed" jdbcType="DOUBLE"/>
        <result column="Memory_Free" property="memoryFree" jdbcType="DOUBLE"/>
    </resultMap>

    <select id="selectNewInfoByHour" resultMap="BaseResultMap" parameterType="String">
        SELECT * FROM memory_info WHERE Ip_id=#{ip} ORDER BY time DESC limit 0,20
    </select>
    <!-- 应该去掉之前的老代码  by zhy-->
    <select id="selectUpdateMemory" resultMap="BaseResultMap" parameterType="String">
        SELECT *,MAX(time) FROM memory_info WHERE Ip_id=#{ip}
    </select>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        Ip_id, time, Memory_Total, Memory_Available, Memory_Percent, Memory_Used, Memory_Free
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.MemoryInfoExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from memory_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="pojo.MemoryInfoExample">
        delete from memory_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="pojo.MemoryInfo">
        INSERT INTO memory_info (Ip_id, time, Memory_Total,
                                 Memory_Available, Memory_Percent, Memory_Used,
                                 Memory_Free)
        VALUES (#{ipId,jdbcType=CHAR}, #{time,jdbcType=DOUBLE}, #{memoryTotal,jdbcType=DOUBLE},
                #{memoryAvailable,jdbcType=DOUBLE}, #{memoryPercent,jdbcType=DOUBLE}, #{memoryUsed,jdbcType=DOUBLE},
                #{memoryFree,jdbcType=DOUBLE})
    </insert>
    <insert id="insertSelective" parameterType="pojo.MemoryInfo">
        insert into memory_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ipId != null">
                Ip_id,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="memoryTotal != null">
                Memory_Total,
            </if>
            <if test="memoryAvailable != null">
                Memory_Available,
            </if>
            <if test="memoryPercent != null">
                Memory_Percent,
            </if>
            <if test="memoryUsed != null">
                Memory_Used,
            </if>
            <if test="memoryFree != null">
                Memory_Free,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ipId != null">
                #{ipId,jdbcType=CHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=DOUBLE},
            </if>
            <if test="memoryTotal != null">
                #{memoryTotal,jdbcType=DOUBLE},
            </if>
            <if test="memoryAvailable != null">
                #{memoryAvailable,jdbcType=DOUBLE},
            </if>
            <if test="memoryPercent != null">
                #{memoryPercent,jdbcType=DOUBLE},
            </if>
            <if test="memoryUsed != null">
                #{memoryUsed,jdbcType=DOUBLE},
            </if>
            <if test="memoryFree != null">
                #{memoryFree,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="pojo.MemoryInfoExample" resultType="java.lang.Integer">
        select count(*) from memory_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update memory_info
        <set>
            <if test="record.ipId != null">
                Ip_id = #{record.ipId,jdbcType=CHAR},
            </if>
            <if test="record.time != null">
                time = #{record.time,jdbcType=DOUBLE},
            </if>
            <if test="record.memoryTotal != null">
                Memory_Total = #{record.memoryTotal,jdbcType=DOUBLE},
            </if>
            <if test="record.memoryAvailable != null">
                Memory_Available = #{record.memoryAvailable,jdbcType=DOUBLE},
            </if>
            <if test="record.memoryPercent != null">
                Memory_Percent = #{record.memoryPercent,jdbcType=DOUBLE},
            </if>
            <if test="record.memoryUsed != null">
                Memory_Used = #{record.memoryUsed,jdbcType=DOUBLE},
            </if>
            <if test="record.memoryFree != null">
                Memory_Free = #{record.memoryFree,jdbcType=DOUBLE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update memory_info
        set Ip_id = #{record.ipId,jdbcType=CHAR},
        time = #{record.time,jdbcType=DOUBLE},
        Memory_Total = #{record.memoryTotal,jdbcType=DOUBLE},
        Memory_Available = #{record.memoryAvailable,jdbcType=DOUBLE},
        Memory_Percent = #{record.memoryPercent,jdbcType=DOUBLE},
        Memory_Used = #{record.memoryUsed,jdbcType=DOUBLE},
        Memory_Free = #{record.memoryFree,jdbcType=DOUBLE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
</mapper>