<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.NetInfoMapper" >
  <resultMap id="BaseResultMap" type="pojo.NetInfo" >
    <result column="Ip_id" property="ipId" jdbcType="CHAR" />
    <result column="time" property="time" jdbcType="DOUBLE" />
    <result column="Net_IoBytesSent" property="netIobytessent" jdbcType="DOUBLE" />
    <result column="Net_IoBytesRecv" property="netIobytesrecv" jdbcType="DOUBLE" />
    <result column="Net_IoPacketsSent" property="netIopacketssent" jdbcType="DOUBLE" />
    <result column="Net_IoPacketsRecv" property="netIopacketsrecv" jdbcType="DOUBLE" />
    <result column="Net_IoErrin" property="netIoerrin" jdbcType="DOUBLE" />
    <result column="Net_IoErrout" property="netIoerrout" jdbcType="DOUBLE" />
    <result column="Net_IoDropin" property="netIodropin" jdbcType="DOUBLE" />
    <result column="Net_IoDropout" property="netIodropout" jdbcType="DOUBLE" />
  </resultMap>

  <select id="selectLastedNetInfo" resultMap="BaseResultMap" parameterType="String">
    SELECT *,MAX(time) FROM net_info WHERE Ip_id=#{ip}
  </select>
  <select id="selectNetInfoByNumAndIp" resultMap="BaseResultMap">
    SELECT * FROM net_info WHERE Ip_id=#{ip} ORDER BY time DESC limit 0,#{num}
  </select>


</mapper>