<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.NetInfoMapper" >
  <resultMap id="BaseResultMap" type="pojo.NetInfo" >
    <result column="Ip_id" property="ipId" jdbcType="CHAR" />
    <result column="time" property="time" jdbcType="DOUBLE" />
    <result column="Net_IoBytesSent" property="netIobytessent" jdbcType="DOUBLE" />
    <result column="Net_IoBytesRecv" property="netIobytesrecv" jdbcType="DOUBLE" />
    <result column="Net_IoPacketsSent" property="netIopacketssent" jdbcType="DOUBLE" />
    <result column="Net_IoPacketsRecv" property="netIopacketsrecv" jdbcType="DOUBLE" />
    <result column="Net_IoErrin" property="netIoerrin" jdbcType="DOUBLE" />
    <result column="Net_IoErrout" property="netIoerrout" jdbcType="DOUBLE" />
    <result column="Net_IoDropin" property="netIodropin" jdbcType="DOUBLE" />
    <result column="Net_IoDropout" property="netIodropout" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Ip_id, time, Net_IoBytesSent, Net_IoBytesRecv, Net_IoPacketsSent, Net_IoPacketsRecv, 
    Net_IoErrin, Net_IoErrout, Net_IoDropin, Net_IoDropout
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.NetInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from net_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="pojo.NetInfoExample" >
    delete from net_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.NetInfo" >
    insert into net_info (Ip_id, time, Net_IoBytesSent, 
      Net_IoBytesRecv, Net_IoPacketsSent, Net_IoPacketsRecv, 
      Net_IoErrin, Net_IoErrout, Net_IoDropin, 
      Net_IoDropout)
    values (#{ipId,jdbcType=CHAR}, #{time,jdbcType=DOUBLE}, #{netIobytessent,jdbcType=DOUBLE}, 
      #{netIobytesrecv,jdbcType=DOUBLE}, #{netIopacketssent,jdbcType=DOUBLE}, #{netIopacketsrecv,jdbcType=DOUBLE}, 
      #{netIoerrin,jdbcType=DOUBLE}, #{netIoerrout,jdbcType=DOUBLE}, #{netIodropin,jdbcType=DOUBLE}, 
      #{netIodropout,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="pojo.NetInfo" >
    insert into net_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ipId != null" >
        Ip_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="netIobytessent != null" >
        Net_IoBytesSent,
      </if>
      <if test="netIobytesrecv != null" >
        Net_IoBytesRecv,
      </if>
      <if test="netIopacketssent != null" >
        Net_IoPacketsSent,
      </if>
      <if test="netIopacketsrecv != null" >
        Net_IoPacketsRecv,
      </if>
      <if test="netIoerrin != null" >
        Net_IoErrin,
      </if>
      <if test="netIoerrout != null" >
        Net_IoErrout,
      </if>
      <if test="netIodropin != null" >
        Net_IoDropin,
      </if>
      <if test="netIodropout != null" >
        Net_IoDropout,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ipId != null" >
        #{ipId,jdbcType=CHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DOUBLE},
      </if>
      <if test="netIobytessent != null" >
        #{netIobytessent,jdbcType=DOUBLE},
      </if>
      <if test="netIobytesrecv != null" >
        #{netIobytesrecv,jdbcType=DOUBLE},
      </if>
      <if test="netIopacketssent != null" >
        #{netIopacketssent,jdbcType=DOUBLE},
      </if>
      <if test="netIopacketsrecv != null" >
        #{netIopacketsrecv,jdbcType=DOUBLE},
      </if>
      <if test="netIoerrin != null" >
        #{netIoerrin,jdbcType=DOUBLE},
      </if>
      <if test="netIoerrout != null" >
        #{netIoerrout,jdbcType=DOUBLE},
      </if>
      <if test="netIodropin != null" >
        #{netIodropin,jdbcType=DOUBLE},
      </if>
      <if test="netIodropout != null" >
        #{netIodropout,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.NetInfoExample" resultType="java.lang.Integer" >
    select count(*) from net_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update net_info
    <set >
      <if test="record.ipId != null" >
        Ip_id = #{record.ipId,jdbcType=CHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=DOUBLE},
      </if>
      <if test="record.netIobytessent != null" >
        Net_IoBytesSent = #{record.netIobytessent,jdbcType=DOUBLE},
      </if>
      <if test="record.netIobytesrecv != null" >
        Net_IoBytesRecv = #{record.netIobytesrecv,jdbcType=DOUBLE},
      </if>
      <if test="record.netIopacketssent != null" >
        Net_IoPacketsSent = #{record.netIopacketssent,jdbcType=DOUBLE},
      </if>
      <if test="record.netIopacketsrecv != null" >
        Net_IoPacketsRecv = #{record.netIopacketsrecv,jdbcType=DOUBLE},
      </if>
      <if test="record.netIoerrin != null" >
        Net_IoErrin = #{record.netIoerrin,jdbcType=DOUBLE},
      </if>
      <if test="record.netIoerrout != null" >
        Net_IoErrout = #{record.netIoerrout,jdbcType=DOUBLE},
      </if>
      <if test="record.netIodropin != null" >
        Net_IoDropin = #{record.netIodropin,jdbcType=DOUBLE},
      </if>
      <if test="record.netIodropout != null" >
        Net_IoDropout = #{record.netIodropout,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update net_info
    set Ip_id = #{record.ipId,jdbcType=CHAR},
      time = #{record.time,jdbcType=DOUBLE},
      Net_IoBytesSent = #{record.netIobytessent,jdbcType=DOUBLE},
      Net_IoBytesRecv = #{record.netIobytesrecv,jdbcType=DOUBLE},
      Net_IoPacketsSent = #{record.netIopacketssent,jdbcType=DOUBLE},
      Net_IoPacketsRecv = #{record.netIopacketsrecv,jdbcType=DOUBLE},
      Net_IoErrin = #{record.netIoerrin,jdbcType=DOUBLE},
      Net_IoErrout = #{record.netIoerrout,jdbcType=DOUBLE},
      Net_IoDropin = #{record.netIodropin,jdbcType=DOUBLE},
      Net_IoDropout = #{record.netIodropout,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>