<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.SummaryMapper" >
  <resultMap id="BaseResultMap" type="pojo.Summary" >
    <id column="Ip_id" property="ipId" jdbcType="CHAR" />
    <result column="Pc_Name" property="pcName" jdbcType="CHAR" />
    <result column="Cluster" property="cluster" jdbcType="CHAR" />
    <result column="Os_Platform" property="osPlatform" jdbcType="CHAR" />
    <result column="Os_Version" property="osVersion" jdbcType="CHAR" />
    <result column="Architecture" property="architecture" jdbcType="CHAR" />
    <result column="Machine" property="machine" jdbcType="CHAR" />
    <result column="Node" property="node" jdbcType="CHAR" />
    <result column="Processor" property="processor" jdbcType="CHAR" />
    <result column="Server_Ip" property="serverIp" jdbcType="CHAR" />
    <result column="Boot_Time" property="bootTime" jdbcType="DOUBLE" />
    <result column="Cpu_Count" property="cpuCount" jdbcType="DOUBLE" />
    <result column="Cpu_Logical" property="cpuLogical" jdbcType="DOUBLE" />
  </resultMap>

  <!-- 获取所有集群-->
  <select id="getAllCluster" resultType="String">
    SELECT Cluster from summary GROUP BY Cluster
  </select>

  <select id="getAllServByCluster" resultType="String" parameterType="String">
    SELECT Server_Ip from summary WHERE Cluster=#{cluster} GROUP BY Server_Ip
  </select>

</mapper>